<!DOCTYPE html>
<html lang="en">
<head>
<title>Moviereviews</title>
<meta charset="utf-8">
<link rel="shortcut icon" type="image/x-icon" href="css/images/favicon.ico">
<link rel="stylesheet" href="css/style.css" type="text/css" media="all">
<link rel="stylesheet" href="css/colorbox.css" type="text/css" media="all">
<script src="js/jquery-1.8.0.min.js"></script>
<script src="js/jquery.colorbox-min.js"></script>
<script src="js/angular.min.js"></script>
<!--[if lt IE 9]><script src="js/modernizr.custom.js"></script><![endif]-->
<script src="js/functions.js"></script>
<script src="js/app.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.11/angular-route.js"></script>

</head>
<body ng-app="movieApp" ng-controller="movieGetInfo">
<!-- wrapper -->
<div id="wrapper">
  <div class="light-bg">
    <!-- shell -->
    <div class="shell">
      <!-- header -->
      <div class="header">
        <!-- socials -->
        <div class="socials"> <a href="#" class="facebook-ico">facebook-ico</a> <a href="#" class="twitter-ico">twitter-ico</a> <a href="#" class="you-tube-ico">you-tube-ico</a> </div>
        <!-- end of socials -->
        <h1 id="logo"><a href="#">Moviereviews</a></h1>
        <!-- navigation -->
        <nav id="navigation">
          <ul>
            <li><a href="#">SHOW ALL</a></li>
            <li><a href="#">LATEST MOVIES <span>20</span></a></li>
            <li><a href="#">TOP RATED</a></li>
            <li><a href="#">MOST COMMENTED</a></li>
          </ul>
        </nav>
        <!-- end of navigation -->
        <div class="cl">&nbsp;</div>
      </div>
      <!-- end of header -->
      <!-- main -->
      <div class="main">
        <!-- content -->
        <section class="content">
          <!-- post -->
          <div class="post" >
                        <!-- post-inner -->
            <div class="post-inner" data-ng-repeat="movie in movieList.results">
              <header>
                <div class='close' data-ng-click="deleteMovie(movie.id, $index)">x</div>
                <div>
                <h2><a href="#">{{movie.original_title}}</a></h2>
                <p class="tags">
                  <span ng-repeat="gen in genres">
                    <span ng-repeat="mov in movie.genre_ids">
                    <a href="#" ng-repeat="res in gen| filter:{'id':  mov}:true">
                      <span>{{res.name | uppercase}}</span>    </a>
                    </span>
                    </span>
              </div>
                <div class="cl"></div>
              </header>
              <div class="img-holder" > <a href="#">
                <img style="width: 100%;" ng-src="http://image.tmdb.org/t/p/w780/{{movie.backdrop_path}}" alt=""></a>
              <!-- meta -->
              <div class="meta">
                <p class="date"><span>Release Date </span>{{movie.release_date}}</p>
                <div class="right">
                  <div class="rating-holder">
                    <span>RATING:</span> <span style="width: 100%;">{{movie.vote_average}}</span>
                  </div>
                  <a href="#" class="comments">59 comments</a> </div>
                <div class="cl">&nbsp;</div>
              </div>
              <!-- end of meta -->
              <!-- post-cnt -->
              <div class="post-cnt">
                <p>{{movie.overview}} </p>
                <a href="#" class="more" ng-click="redirect(movie.id)">CONTINUE READING</a> </div>
                            <!-- end of post-cnt -->
            </div>
            <!-- post-inner -->
          </div>
          <!-- end of post -->

          <div class="post" ng-if="movieDetails">
            <!-- post-inner -->
            <div class="post-inner">
              <header>
                <h2><a href="#">{{movieDetails.original_title}}</a></h2>
                <p class="tags">
                  <span ng-repeat="gen in genres">
                    <span ng-repeat="mov in movieDetails.genre_ids">
                    <a href="#" ng-repeat="res in gen| filter:{'id':  mov}:true">
                      <span>{{res.name | uppercase}}</span>    </a>
                    </span>
                    </span>
            </div>
            <div class="cl"></div>
            </header>
            <div class="img-holder" > <a href="#">
              <img style="width: 100%;" ng-src="http://image.tmdb.org/t/p/w780/{{movieDetails.backdrop_path}}" alt=""></a>
              <img style="width: 100%;" ng-src="http://image.tmdb.org/t/p/w780/{{movieDetails.belongs_to_collection.poster_path}}" alt=""></a>
            <!-- meta -->
            <div class="meta">
              <div><span class="linetitle">Release Date:</span> <span>{{movieDetails.release_date}}</span></div>
              <div><span class="linetitle">RATING:</span> <span> {{movieDetails.vote_average}}</span></div>
              <div><span class="linetitle">Budget:</span> <span> {{movieDetails.budget}}</span></div>
              <div><span class="linetitle">Tagline:</span> <span> {{movieDetails.tagline}}</span></div>
              <div><span class="linetitle">Status:</span> <span> {{movieDetails.status}}</span></div>
              <div><span class="linetitle">Production companies:</span></div>
              <div ng-repeat="prod in movieDetails.production_companies" >
                <span style="margin-left: 50px;">{{prod.name}}</span>
              </div>
              <div ng-repeat="prod in movieDetails.production_contries" >
                <span style="margin-left: 50px;">{{prod.name}}</span>
              </div>
              <div><span class="linetitle">Cast</span></div>
              <div ng-repeat="cast in movieCast">
                <span style="margin-left: 50px;color: #1cfe10;" class="linetitle">{{cast.character}}</span> - <span class="linetitle">{{cast.name}}</span>
              </div>
            </div>
              <!-- post-cnt -->
              <div class="post-cnt">
                <p>{{movieDetails.overview}}</p>
              <!-- end of post-cnt -->
            </div>
            <div style="padding:7%">
              <img ng-repeat="img in images.backdrops" ng-src="http://image.tmdb.org/t/p/w185/{{img.file_path}}" alt="">
            </div>
            <!-- post-inner -->
          </div>

          <div class="pagination" ng-if="!movieDetails">
            <ul>
              <li class="laquo"><a href="#"><span></span></a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li class="raquo"><a href="#"><span></span></a></li>
              <li><a href="#">10</a></li>
              <li class="dots">. . .</li>
              <li><a href="#">last</a></li>
            </ul>
          </div>
        </section>
        <!-- end of content -->
        <!-- sidebar -->
        <aside class="sidebar">
          <div class="widget">
            <h3 class="widgettitle">Genres</h3>
            <ul ng-repeat="gen in genres">
              <li ng-repeat="g in gen"><a href="#" id='{{g.id}}' data-ng-click='getMovies(g.id)'>{{g.name}}</a></li>
            </ul>
          </div>
          <div class="widget">
            <h3 class="widgettitle">Opening This Week</h3>
            <ul>
              <li><a href="#">The Hunter Games <strong>$98 Mil</strong></a></li>
              <li><a href="#">American Reunion <strong>$50 Mil</strong></a></li>
              <li><a href="#">Titanic <strong>$23 Mil</strong></a></li>
              <li><a href="#">Wrath of the Titans <strong>$50 Mil</strong></a></li>
              <li><a href="#">Mirror Mirro <strong>$7 Mil</strong></a></li>
            </ul>
          </div>
          <div class="widget socials-widget">
            <h3 class="widgettitle">Get Connected</h3>
            <ul>
              <li><a href="#" class="facebook-ico"><span></span>Facebook</a></li>
              <li><a href="#" class="twitter-ico"><span></span>Twitter</a></li>
              <li><a href="#" class="linkedin-ico"><span></span>Linkedin</a></li>
              <li><a href="#" class="you-tube-ico"><span></span>Youtube</a></li>
              <li><a href="#" class="rss-ico"><span></span>RSS</a></li>
            </ul>
          </div>
        </aside>
        <!-- end of sidebar -->
        <div class="cl">&nbsp;</div>
      </div>
      <!-- end of main -->
      <div class="footer">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">Show All</a></li>
            <li><a href="#">Latest Movies</a></li>
            <li><a href="#">Top Rated</a></li>
            <li><a href="#">Most Commented</a></li>
          </ul>
        </nav>
        <p class="copy">Copyright &copy; 2012 <span>|</span> Sitename. Design by <a target="_blank" href="http://chocotemplates.com">ChocoTemplates</a></p>
      </div>
    </div>
    <!-- end of shell -->
  </div>
</div>
<!-- end of wrapper -->
</body>
</html>